<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <!-- 1. 출력 -->
  <h1>오늘 저녁은 {{ pick }} 먹어!</h1>
  <h2>1. 반복문</h2>
  {% for menu in menus %}
  <li>{{ menu }}</li>
  {% endfor %}
  {% for menu in menus %}
  <p>{{ forloop.counter }}: {{ menu }}</p>
  {% endfor %}
  {% for user in users %}
  <p>{{ user }}</p>
  {% empty %}
  <p>현재 가입한 유저가 없습니다!!</p>
  {% endfor %}
  <!-- 조건문 -->
  <h2>2. 조건문</h2>
  {% for menu in menus %}
    {% if menu == '치킨' %}
      <p>치킨은 푸라닭이지!!!!!!</p>
    {% endif %}
  {% endfor %}
  <!-- lorem -->
  <h2>3. lorem ipsum</h2>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat magnam officiis quisquam error voluptas impedit molestias ut tempore, dolore ullam ad numquam earum consequuntur atque odio quasi. Aliquid, numquam voluptates.</p>
  <p>{% lorem %}</p>
  <!-- lorem 갯수 w/p
  w: word
  p: paragraph
  -->
  <p>{% lorem 3 w %}</p>
  <p>{% lorem 1 p %}</p>
  <p>{% lorem 2 w random %}</p>
  <h2>4. 글자 관련 필터</h2>
  <p>{{ sentence|truncatewords:3 }}</p>
  <p>{{ sentence|truncatechars:10 }}</p>
  <p>{{ sentence|length }}</p>
  <p>{{ sentence|lower }}</p>
  <p>{{ sentence|title }}</p>
  <p>{{ menus|random }}</p>
  <h2>5. 날짜 표현</h2>
  <p>{{ datetime_now }}</p>
  <p>{% now 'DATE_FORMAT' %}</p>
  <p>{% now 'DATETIME_FORMAT' %}</p>
  <p>{% now 'SHORT_DATETIME_FORMAT' %}</p>
  <p>{% now 'Y년 m월!' %}</p>
  <p>{{ datetime_now|date:'SHORT_DATE_FORMAT' }}</p>
  <p>{{ google_link|urlize }}</p>
</body>
</html>