div {
  width: 100px;
  height: 100px;
  background-color: #aaff22;
  text-align: center;
  /* 세로정렬은 없으므로 픽셀값으로 직접 지정해주어야 함 */
  line-height: 100px;
}

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}

.mx-auto {
  margin: 0 auto;
}

.red {
  color: red;
}