div {
  width: 100px;
  height: 100px;
  background-color: #aaff22;
}

.margin {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 10px;
  margin-right: 10px;
}

.padding {
  padding-top: 30px;
  padding-bottom: 30px;
}

.border {
  border-width: 2px;
  border-style: dotted;
  border-color: red;
  border-top-color: blue;
  border-radius: 10px;
}

.margin-shorthand-1 {
  /* 상하좌우 */
  margin: 10px;
}

.margin-shorthand-2 {
  /* 상하 / 좌우
    위아래가 10px 좌우가 20px */
  margin: 10px 20px;
}

.margin-shorthand-3 {
  /* 상 / 좌우 / 하 */
  margin: 10px 20px 30px;
}

.margin-shorthand-4 {
  /* 상 / 우 / 하 / 좌 - 시계방향 */
  margin: 10px 20px 30px 40px;
}