div {
  width: 100px;
  height: 100px;
  background-color: #342494;
  text-align: center;
  /* 세로정렬은 없으므로 픽셀값으로 직접 지정해주어야 함 */
  line-height: 100px;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.back {
  background-color: orange;
  width: 300px;
}

.clear {
  clear:both;
}